body {
    margin: 0;
    display: grid;
    background-color: black;
}

#titulo {
    color: white;
    font-family: "Source Sans 3", sans-serif;
    font-size: 3em;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;

}
#menu_principal{
    font-family: "Saira Stencil";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#barra_estado {
    width: 600px;
    height: auto;
    background-color: red;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}